<center><img style="text-align:center; margin:0 auto" src="https://drive.google.com/uc?export=view&id=15uzPyvfgv3obSupxZAFHY21YA82yFs0M" title="Logo UMAB" alt="Logo UMAB" width="221" height="236">
<center>
<b>Université Abdelhamid Ibn Badis - Mostaganem
<br>Faculté des Sciences Exactes et de l'Informatique
<br>Département de Mathématiques et Informatique
<br>Master IA4IOT
<br>Programmation Avancée (Python)
</b>
</center>

---

# <center>TEST</center>

---
<center><b>Nom et prénoms : Derdour Amina
<br>(double cliquez sur la cellule)
</center></br></b>


---

<center><img style="text-align:center; margin:0 auto" src="https://drive.google.com/uc?export=view&id=1eXRXuXNUs8EcKDjQORtBvcttEcB7zJVa" title="Royal court" alt="Royal court" width="400" height="400">
</center>

<b>Exercice 1 :</b> Une <a href="https://thecardsoflife.com/court-cards">Royal Court</a> (cour royale) est un roi(King), reine (Queen) et valet (Jack) d'une même couleur (Cœur (Heart) ♥, Trèfle (Clubs) ♣, Carreau (Diamonds) ♦ et Pique (Spades) ♠). Par exemple JD (Jack of Diamonds - Valet de Carreau), QD (Queen of Diamonds - Reine de Carreau) et KD (King of Diamonds - Roi de Carreau) est une *cour royale*. Créer une fonction qui reçoit en paramètre une liste de cartes (voir exemple) et qui retourne le nombre de *cour royale*.

In [1]:
def nbr_cours_royales(cartes):
    #écrire votre code ici
    Dlist = []
    dcount, hcount, ccount, scount = 0, 0, 0, 0
    Hlist = []
    Clist = []
    for i in cartes:
        for j in cartes:
            for y in cartes:
                if i[0] == "K" and j[0] == "Q" and y[0] == "J":
                    if i[1] == "D" and j[1] == "D" and y[1] == "D":
                        dcount += 1
                    elif i[1] == "H" and j[1] == "H" and y[1] == "H":
                        hcount += 1
                    elif i[1] == "H" and j[1] == "H" and y[1] == "H":
                        scount += 1
                    elif i[1] == "C" and j[1] == "C" and y[1] == "C":
                        ccount += 1
    return dcount + hcount + ccount + scount
            

#Tests
print(nbr_cours_royales(["8H", "QD", "JD", "KS", "JS", "QD", "KD", "QS"])) #affichera 2 car nous avons QD, JD, et KD puis JS, QS et KS
print(nbr_cours_royales(["7D", "6S", "JH", "KH", "JC", "QH"])) #affichera 1 car nous avons JH, QH et KH
print(nbr_cours_royales(["7D", "6S", "5S"])) #affichera 0 car nous avons aucune royal court
print(nbr_cours_royales([])) #affichera 0 car la listes des cartes est vide

2
1
0
0

<center><img style="text-align:center; margin:0 auto" src="https://drive.google.com/uc?export=view&id=1Peuoxg6EZxiTHzyxOaFh_LqHaGuOYup6" title="Planètes" alt="Planètes" width="828" height="225">
</center>

<b>Exercice 2 :</b> Vous disposez d'un dictionnaire de planètes associées avec une liste de distances. Cette liste contient la distance la plus courte, la plus longue et moyenne par rapport au soleil en millions de kilomètres (Par exemple la terre est 147 millions de km lorsqu'elle se rapproche le plus du soleil et à 152 MKm lorsqu'elle est éloignée et à une moyenne de 150 MKm). A l'aide de ce dictionnaire créez les fonctions suivantes :
* Une fonction reçoit en paramètre le dictionnaire et affiche les planètes avec les distances min, max, moy.
* Une fonction qui reçoit en paramètre le dictionnaire ainsi qu'un paramètre qui détermine la distance à utiliser (min, max ou moy) et qui utilise moy par défaut. La fonction retournera le nom de la planète avec la distance (min, max ou moy) la plus petite.

***Astuce :*** Utilisez 0 pour min, 1 pour max et 2 pour moyenne.

In [11]:
#Exécutez cette cellule
planetes = {"Uranus":[2750,3000,2880],"Mercure":[46,70,57],
            "Terre":[147,152,150], "Venus":[107,109,108],
            "Mars":[205,249,228],  "Saturne":[1350,1510,1430],
            "Jupiter":[741,817,779], "Pluto":[4440,7380,5910],
            "Neptune":[4450,4550,4500]}

In [13]:
def afficher_planetes(planetes):
    #écrire votre code ici
    for i, k in planetes.items():
        print(i, "Min =", k[0], "Max =", k[1], "Moy =", k[2])
#Tests
afficher_planetes(planetes)
#affichera
"""
Uranus Min = 2750 Max = 3000 Moy = 2880
Terre Min = 147 Max = 152 Moy = 150
...
Pluto Min = 4440 max = 7380 Moy = 5910
"""

Uranus Min = 2750 Max = 3000 Moy = 2880
Mercure Min = 46 Max = 70 Moy = 57
Terre Min = 147 Max = 152 Moy = 150
Venus Min = 107 Max = 109 Moy = 108
Mars Min = 205 Max = 249 Moy = 228
Saturne Min = 1350 Max = 1510 Moy = 1430
Jupiter Min = 741 Max = 817 Moy = 779
Pluto Min = 4440 Max = 7380 Moy = 5910
Neptune Min = 4450 Max = 4550 Moy = 4500

'\nUranus Min = 2750 Max = 3000 Moy = 2880\nTerre Min = 147 Max = 152 Moy = 150\n...\nPluto Min = 4440 max = 7380 Moy = 5910\n'

In [26]:
def distance_minimum(planetes, code_distance=0): #complétez la déclaration de la fonction
    #écrire votre code ici
    pl = []
    list =[]
    for i, k in planetes.items():
        pl.append(i)
        list.append(k[code_distance])
    return pl[list.index(min(list))]
#Tests - Tous ces tests afficheront Mercure car elle est la planète la plus proche du soleil
print(distance_minimum(planetes, code_distance=0))
print(distance_minimum(planetes, code_distance=1))
print(distance_minimum(planetes, code_distance=2))
print(distance_minimum(planetes))

Mercure
Mercure
Mercure
Mercure

<center><img style="text-align:center; margin:0 auto" src="https://drive.google.com/uc?export=view&id=1Jb1jNxQMdfq9UmxNSUoYOedkoSAcVJ_E" title="Titanic" alt="Titanic" width="600" height="300">
</center>

<b>Exercice 3 :</b> Nous voulons analyser les données des passagers du <a href="https://www.geo.fr/histoire/14-avril-1912-le-naufrage-du-titanic-raconte-par-les-journaux-de-lepoque-208697">Titanic</a> en 1912. Le fichier Titanic.csv contient 892 lignes entête comprise. Les colonnes (attributs) sont :
* ***Passengerid*** identifiant du passager
* ***Survived*** prend la valeur 0 si le passager est décédé ou 1 s'il a survécu
* ***Pclass*** la classe du ticket pris. Peut prendre trois valeurs 1 (première classe), 2 (deuxième classe) ou 3 (troisième classe)
* ***Sex*** le sexe du passager. Prend les valeurs *male* ou *female*
* ***Age*** est l'âge du passager. Attention l'âge de certains passagers n'est pas spécifié

**Question 1 :** Vous devez d'abord lire les données du fichier CSV

In [43]:
#écrire votre code ici
with open("Titanic.csv") as f:
    f = f.readlines()
    data = []
    for i in range(1, len(f)):
        data.append(f[i].split(","))

**Important :** si vous ne réussissez pas à lire les données, utilisez le code ci-dessous **(téléchargez le fichier data.pickle)** qui vous donnera accès à la variable data qui contient les données stockées sous forme d'une matrice à deux dimensions où Passengerid, survived, pclass et age sont de type numérique alors que sex est un string.  Si la valeur de l'âge n'est pas trouvée, on utilisera 0. Consultez les exemples pour comprendre le contenu de la variable.

In [42]:
import pickle
with open("data.pickle", "rb") as infile:
 data = pickle.load(infile)

print(data[0])
print(data[4])
print(data[5])
print("---------------------")
print("Passengerid", data[0][0])
print("Survived", data[0][1])
print("Pclass", data[0][2])
print("Sex", data[0][3])
print("Age", data[0][4])

[1, 0, 3, 'male', 22]
[5, 0, 3, 'male', 35]
[6, 0, 3, 'male', 0]
---------------------
Passengerid 1
Survived 0
Pclass 3
Sex male
Age 22

***Votre travail, après lecture des données du fichier Titanic.csv, est de répondre aux questions suivantes :***

**Question 2 :** Donnez le nombre total de passagers qui ont embarqué sur le bateau

In [44]:
#Résultat attendu : 891
#écrire votre code ici
print(len(data))

891

**Question 3 :** Donnez le nombre total de passagers qui péri lors du naufrage du bateau

In [46]:
#Résultat attendu : 549
#écrire votre code ici
count = 0
for person in data:
    if person[1] == '0':
        count += 1
print(count)

549

**Question 4 :** Donnez le nombre total de passagers qui ont survécu le naufrage du bateau

In [47]:
#Résultat attendu : 342
#écrire votre code ici
count1 = 0
for person in data:
    if person[1] == '1':
        count1 += 1
print(count1)

342

**Question 5 :** Donnez le nombre de passagers de sexe masculin et féminin

In [49]:
#Résultat attendu : 
"""
Male : 577
Female : 314
"""
#écrire votre code ici
male, female = 0, 0
for i in data:
    if i[3].casefold() == 'male'.casefold():
        male += 1
    elif i[3].casefold() == 'female'.casefold():
        female += 1
print("Male :", male)
print("Female :", female)

Male : 577
Female : 314

**Question 6 :** Donnez le nombre de passagers par classe

In [51]:
#Résultat attendu : 
"""
Classe 1 : 216
Classe 2 : 184
Classe 3 : 491
"""
#écrire votre code ici
psc1, psc2, psc3 = 0, 0, 0
for i in data:
    if i[2] == "1":
        psc1 += 1
    elif i[2] == "2":
        psc2 += 1
    elif i[2] == "3":
        psc3 += 1
print("Classe 1:", psc1)
print("Classe 2:", psc2)
print("Classe 3:", psc3)

Classe 1: 216
Classe 2: 184
Classe 3: 491

**Question 7 :** Donnez l'âge moyen des passagers (attention certaines cellules sont vides - il faut les ignorer)

In [58]:
#Résultat attendu : 30
#écrire votre code ici
sm, nb = 0, 0
for i in data:
    if i[4] != "" and i[4] != '\n':
        sm += float(i[4])
        nb += 1
print(int(sm // nb))

30